@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body{
    position: relative;
    float: left;
    background-color: #f3f3f3;
}
.hide{
    width: 1px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    position: absolute;
}
header{
    position: relative;
    width: 100%;
    float: left;
}
.nav_wrapper{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    transition: all .3s ease;
}
.nav_wrapper.scroll:hover{
    background: rgba(255, 255, 255, 1);
}
.nav_wrapper.scroll{
    top: 0;
    background: rgba(255, 255, 255, .7);
}
.nav_wrapper.hover{
    background: rgba(255, 255, 255, 1);
}
.logo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 74px;
    z-index: 1;
}
.logo img{
    width: 100%;
}
.main_menu{
    position: absolute;
    width: 960px;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}
.main_menu li{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .1s ease;
}
.main_menu li:hover{
    font-weight: 500;
}
.main_menu li:nth-child(3){
    padding: 0;
}
.main_menu li:hover:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 15px;
    width: 15%;
    border-bottom: 2px solid black;
    animation: menu_select .3s linear;
}
.main_menu li:hover:after{
    content: '';
    position: absolute;
    right: 50%;
    bottom: 15px;
    width: 15%;
    border-bottom: 2px solid black;
    animation: menu_select .3s linear;
}
.main_menu li:nth-child(3):hover:before, .main_menu li:nth-child(3):hover:after{
    border-bottom: 0;
    animation: none;
}
.main_menu li a{
    text-decoration: none;
    padding: 15px;
    color: black;
}
.home_mini{
    position: absolute;
    top: 23px;
    left: 16px;
    width: 32px;
    height: 32px;
    background: url(../images/home.png) no-repeat center;
    background-size: contain;
    transition: all .3s ease;
    cursor: pointer;
    display: none;
}
.home_mini:hover{
    opacity: .5;
}
.menu_mini_wrap{
    position: absolute;
    top: 23px;
    right: 16px;
    width: 100px;
    transition: all .5s ease;
    display: none;
}
.menu_mini_icon{
    position: relative;
    float: right;
    width: 32px;
    height: 32px;
    background: url(../images/plus.png) no-repeat center;
    background-size: contain;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;
    z-index: 1;
}
.menu_mini_icon:hover{
    background-color: rgba(255, 255, 255, .7);
    opacity: .5;
}
.menu_mini_icon.show{
    transform: rotate(45deg);
}
.menu_mini{
    position: relative;
    clear: both;
    text-align: right;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    top: -53px;
    padding-top: 50px;
    transition: all .5s ease;
    height: 0;
}
.menu_mini.show{
    height: 110px;
    background-color: rgba(255, 255, 255, 1);
}
.menu_mini li{
    margin-bottom: 10px;
    transition: all .1s ease;
    opacity: 0;
}
.menu_mini li.open{
    transition: all 1s ease;
    opacity: 1;
}
.menu_mini li a{
    color: black;
    text-decoration-style: dotted;
    text-decoration-color: rgba(0, 0, 0, .15);
    transition: all .3s ease;
}
.menu_mini li a:hover{
    opacity: .5;
}
.main_visual_wrapper{
    position: relative;
    top: 0;
    width: 100%;
    height: 775px;
    z-index: -1;
}
.main_visual{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1.5s ease;
}
.main_visual.show{
    opacity: 1;
}
.main_visual:nth-child(1){
    background: url(../images/top_img.jpg) no-repeat center;
    background-size: cover;
}
.main_visual:nth-child(2){
    background: url(../images/top_img2.jpg) no-repeat center bottom;
    background-size: cover;
}
.main_visual:nth-child(3){
    background: url(../images/top_img3.jpg) no-repeat center;
    background-size: cover;
}
.progress_bar_wrapper{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 7px;
    bottom: 0;
    background: rgba(255, 255, 255, .35);
}
.progress_bar{
    position: relative;
    width: 100%;
    height: 100%;
}
.progress_bar:nth-child(1):before, .progress_bar:nth-child(2):before, .progress_bar:nth-child(3):before{
    content: '';
    position: absolute;
    width: 33%;
    height: 100%;
    border-radius: 3px;
}
.content{
    position: relative;
    float: left;
    width: 100%;
}
.indicator{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    background: url(../images/indicator.png) no-repeat center;
    background-size: contain;
    transition: all .5s ease;
    animation: indicator 1.5s infinite;
}
.indicator:before{
    content: 'scroll down';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 0.9em;
}
.indicator.hide{
    opacity: 0;
    transform: translate(-50%, 50px);
    animation: hide_indicator .7s linear;
}
.group1{
    position: relative;
    float: left;
    width: 100%;
}
.conetent_description{
    position: relative;
    float: left;
    width: 610px;
    height: 70px;
    margin-top: 200px;
    left: 50%;
    transform: translate(-50%, 50px);
    text-align: center;
    letter-spacing: -0.01em;
    font-size: 1.125em;
    line-height: 1.3em;
    font-family: 'Crimson Text', serif;
    transition: all 1s ease;
    transition-delay: .3s;
    opacity: 0;
}
.conetent_description.show{
    opacity: 1;
    transform: translate(-50%, 0);
}
.gallery{
    position: relative;
    margin-top: 160px;
    margin-bottom: 335px;
    float: left;
    clear: both;
    left: 50%;
    transform: translateX(-50%);
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gallery1_wrap{
    position: relative;
    float: left;
    width: 460px;
}
.gallery1_wrap div:nth-child(1){
    position: relative;
    float: left;
    width: 220px;
    margin-right: 20px;
    transition-delay: .3s
}
.gallery1_wrap div:nth-child(2){
    position: relative;
    float: left;
    width: 220px;
    transition-delay: .6s;
}
.gallery1_wrap div:nth-child(3){
    position: relative;
    float: left;
    width: 460px;
    margin-top: 26px;
    transition-delay: .9s;
}
.gallery2_wrap{
    position: relative;
    float: left;
    width: 460px;
}
.gallery2_wrap div:nth-child(1){
    position: relative;
    float: left;
    width: 460px;
    margin-bottom: 26px;
    transition-delay: 1.2s;
}
.gallery2_wrap div:nth-child(2){
    position: relative;
    float: left;
    width: 220px;
    margin-right: 20px;
    transition-delay: 1.5s;
}
.gallery2_wrap div:nth-child(3){
    position: relative;
    float: left;
    width: 220px;
    transition-delay: 1.8s;
}
.gallery1_wrap img, .gallery2_wrap img{
    position: relative;
    width: 100%;
    transition: all 1s ease;
}
.gallery1_wrap img:hover, .gallery2_wrap img:hover{
    transform: scale(1.05);
}
.gallery1_wrap div, .gallery2_wrap div{
    opacity: 0;
    transition: all 1.5s ease;
    overflow: hidden;
}
.gallery1_wrap div.show, .gallery2_wrap div.show{
    opacity: 1;
}
.group2{
    position: relative;
    float: left;
    width: 100%;
    height: 375px;
    background-color: #41746c;
    color: white;
    transform: translateX(-100%);
    transition: all .7s ease;
    transition-delay: .3s;
    opacity: 0;
}
.group2.show{
    opacity: 1;
    transform: translateX(0);
}
.group2_text_box{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 960px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.group2_text_box.show:before{
    content: '';
    height: calc(75%/2);
    position: absolute;
    top: 50%;
    left: 50%;
    border-left: 2px solid white;
    transform: translateX(-50%);
    animation: group2_line 1s linear;
    animation-delay: .3s;
    opacity: 1;
}
.group2_text_box.show:after{
    content: '';
    height: calc(75%/2);
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-left: 2px solid white;
    transform: translateX(-50%);
    animation: group2_line 1s linear;
    animation-delay: .3s;
    opacity: 1;
}
.left_wrapper, .right_wrapper{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left, .right{
    width: 300px;
    opacity: 0;
    transition: all .8s ease;
    transition-delay: 1s;
    transform: translateY(30px);
}
.right{
    transition-delay: 1.5s;
}
.left.show, .right.show{
    transform: translateY(0);
    opacity: 1;
}
.group2_title{
    font-family: 'Crimson Text', serif;
    font-size: 1.125em;
    text-decoration: underline;
    margin-bottom: 30px;
}
.group2_description{
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
    font-size: 1em;
    line-height: 1.125em;
    font-weight: 100;
}
.group3{
    position: relative;
    float: left;
    width: 100%;
}
.group3_text_box{
    position: relative;
    left: 50%;
    margin-top: 250px;
    margin-bottom: 250px;
    transform: translateX(-50%);
    width: 625px;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    transition-delay: .3s;
}
.group3_text_box.show{
    opacity: 1;
}
.group3_title{
    font-family: 'Crimson Text', serif;
    font-size: 1.125em;
    font-weight: 600;
    margin-bottom: 20px;
}
.group3_description{
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
    font-size: 1em;
    line-height: 1.125em;
    font-weight: 200;
}
.wedding{
    position: relative;
    float: left;
    width: 960px;
    left: 50%;
    transform: translateX(-50%);
    color: #41746c;
    margin-bottom: 340px;
}
.wedding li{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 45px;
}
.wedding li:last-child{
    margin-bottom: 0;
}
.wedding_img{
    position: relative;
    float: left;
    width: 630px;
    height: 380px;
    opacity: 0;
    transition: all 1.7s ease;
    transition-delay: .2s;
}
.wedding_img.show{
    opacity: 1;
}
.wedding li:nth-child(1) .wedding_img{
    background: url(../images/wedding_img1.png) no-repeat center;
    background-size: cover;
}
.wedding li:nth-child(2) .wedding_img{
    background: url(../images/wedding_img2.png) no-repeat center;
    background-size: cover;
}
.wedding li:nth-child(3) .wedding_img{
    background: url(../images/wedding_img3.png) no-repeat center;
    background-size: cover;
}
.wedding_text_box_wrap{
    position: absolute;
    width: calc(100% - 630px);
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100px);
    transition: all 1.3s ease;
    transition-delay: .5s;
    opacity: 0;
    z-index: -1;
}
.wedding_text_box_wrap.show{
    opacity: 1;
    transform: translateX(0);
}
.wedding_text_box{
    position: relative;
    width: 290px;
    text-align: center;
}
.wedding_text_title{
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    margin-bottom: 5px;
}
.wedding_text_subtitle{
    font-family: 'Crimson Text', serif;
    margin-bottom: 25px;
}
.wedding_text_description{
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
    font-size: 0.875em ;
}
.group4{
    position: relative;
    float: left;
    width: 100%;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #41746c;
    transform: translateX(-100%);
    transition: all .7s ease;
    transition-delay: .3s;
    opacity: 0;
}
.group4.show{
    opacity: 1;
    transform: translateX(0);
}
.group4_text_box{
    position: relative;
    width: 790px;
    color: white;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-size: 1.125em;
    opacity: 0;
    transform: translateY(30px);
    transition: all 1.3s ease;
    transition-delay: .9s;
}
.group4_text_box.show{
    transform: translateY(0);
    opacity: 1;
}
.group4_text{
    line-height: 1.5em;
    margin-bottom: 45px;
}
.group5{
    position: relative;
    float: left;
    width: 100%;
}
.group5_text_box_wrap{
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 440px;
    width: 790px;
    margin-bottom: 170px;
}
.group5_logo{
    position: relative;
    float: left;
    width: 350px;
    height: 350px;
    background: url(../images/logo.png) no-repeat center;
    background-size: contain;
    transform: scale(0.5);
    transition: all 1.5s ease;
    transition-delay: .3s;
    opacity: 0;
}
.group5_logo.scale{
    opacity: 1;
    transform: scale(1);
}
.group5_text_box_wrap2{
    position: absolute;
    width: calc(100% - 350px);
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group5_text_box{
    position: relative;
    float: left;
    width: 360px;
    transform: translateY(50px);
    transition: all 1.3s ease;
    transition-delay: .7s;
    opacity: 0;
}
.group5_text_box.show{
    opacity: 1;
    transform: translateY(0);
}
.group5_title{
    position: relative;
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 30px;
}
.group5_title.show:before{
    content: '';
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 25%;
    border-bottom: 2px solid black;
    animation: group5_title_deco 1.3s linear;
    animation-delay: .7s;
}
.group5_title.show:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25%;
    border-bottom: 2px solid black;
    animation: group5_title_deco 1.3s linear;
    animation-delay: .7s;
}
.group5_description{
    text-align: justify;
    font-family: 'Heebo', sans-serif;
    font-size: 1.125em;
    line-height: 1.125em;
}
.group5_img_wrapper{
    position: relative;
    clear: both;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    width: 790px;
    height: 490px;
    margin-bottom: 540px;
    overflow: hidden;
}
.group5_img{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/last_img.png) no-repeat center;
    background-size: cover;
}
.group5_img_shader{
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: transparent;
    border: 470px solid #f3f3f3;
    transition: all 2s ease-out;
}
.group5_img_shader.whip{
    width: 1000px;
    height: 1000px;
}
.top_icon_wrapper{
    position: fixed;
    width: 1200px;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.go_top{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 0;
    background: url(../images/go_top.png) no-repeat center;
    background-size: contain;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transform: translateY(60px);
    transition: all .5s ease;
}
.go_top.show{
    opacity: .7;
    transform: translateY(0);
}
.go_top:hover{
    opacity: 1;
}
footer{
    position: relative;
    float: left;
    width: 100%;
    background-color: #14544a;
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s ease;
    transition-delay: .3s;
}
footer.show{
    opacity: 1;
    transform: translateY(0);
}
footer:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: #0b3c34;
    z-index: -1;
}
.footer_wrap{
    position: relative;
    float: left;
    width: 960px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
.footer_logo{
    position: relative;
    float: left;
    width: 185px;
    height: 200px;
    background: url(../images/logo_white.png) no-repeat center;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 170px;
    margin-bottom: 70px;
    transition: all 1s ease;
    transition-delay: 1s;
    opacity: 0;
}
.footer_logo.show{
    opacity: 1;
}
.footer_text{
    position: relative;
    clear: both;
    left: 50%;
    transform: translate(-50%, 30px);
    float: left;
    font-family: 'Crimson Text', serif;
    font-size: 1.25em;
    margin-bottom: 100px;
    transition: all 1s ease;
    transition-delay: 1.3s;
    opacity: 0;
}
.footer_text.show{
    opacity: 1;
    transform: translate(-50%, 0);
}
.sign_up_box{
    position: relative;
    float: left;
    clear: both;
    left: 50%;
    transform: translate(-50%, 30px);
    margin-bottom: 80px;
    transition: all .7s ease;
    transition-delay: 1.5s;
    opacity: 0;
}
.sign_up_box.show{
    opacity: 1;
    transform: translate(-50%, 0);
}
.sign_up_box input{
    width: 290px;
    height: 45px;
    border: none;
    margin-right: 35px;
    font-family: 'Heebo', sans-serif;
    text-indent: 15px;
}
.sign_up_box button{
    width: 125px;
    height: 45px;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-family: 'Heebo', sans-serif;
    cursor: pointer;
    transition: all .3s ease;
}
.sign_up_box button:hover{
    font-weight: 500;
    color: #14544a;
    background-color: white;
}
.sign_up_box input:focus, .sign_up_box button:focus{
    outline: none;
}
.social{
    position: relative;
    clear: both;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    width: 215px;
    justify-content: space-between;
    margin-bottom: 250px;
}
.social li a img{
    width: 32px;
}
.social li{
    transition: all .3s cubic-bezier(0.13, 0.84, 0.74, 1.34);
    transition-delay: 1.7s;
    transform: translateY(30px);
    opacity: 0;
}
.social li:nth-child(2){
    transition-delay: 1.9s;
}
.social li:nth-child(3){
    transition-delay: 2.1s;
}
.social li:nth-child(4){
    transition-delay: 2.3s;
}
.social li:nth-child(5){
    transition-delay: 2.5s;
}
.social li.show{
    opacity: 1;
    transform: translateY(0);
}
.css_vaildator{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}
.css_vaildator p:nth-child(1){
    margin-right: 5px;
}