@media screen and (max-width: 1200px){
    .top_icon_wrapper{
        width: 100%;
        height: 35px;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 960px){
    .main_menu{
        width: 100%;
    }
    .main_visual{
        height: 675px;
    }
    .gallery{ 
        width: 460px;
        flex-direction: column;
    }
    .gallery1_wrap{
        margin-bottom: 20px;
    }
    .group2_text_box{
        width: 100%;
    }
    .left, .right{
        width: 55%;
    }
    .wedding{
        width: 95%;
    }
    .wedding_img{
        width: 65.625%;
    }
    .wedding_text_box_wrap{
        width: 35%;
    }
    .wedding_text_box{
        width: 90%;
    }
    .group4_text_box{
        width: 80%;
    }
    .footer_wrap{
        width: 100%
    }
}
@media screen and (max-width: 800px){
    .group5_text_box_wrap{
        width: 90%;
    }
    .group5_logo{
        left: 50%;
        transform: translateX(-50%) scale(0.5);
        margin-bottom: 25px;
    }
    .group5_logo.scale{
        transform: translateX(-50%) scale(1);
    }
    .group5_text_box_wrap2{
        position: relative;
        float: left;
        width: 100%;
    }
    .group5_title.show:before{
        width: 95px;
    }
    .group5_title.show:after{
        width: 95px;
    }
    .group5_text_box{
        width: 90%;
    }
    .group5_img_wrapper{
        width: 95%;
    }
}
@media screen and (max-width: 768px){
    nav{
        display: none;
    }
    .home_mini{
        display: block;
    }
    .menu_mini_wrap{
        display: block;
    }
    .main_visual{
        height: 575px;
    }
    .conetent_description{
        width: 90%;
    }
    .group3_text_box{
        width: 80%;
    }
    .wedding_img{
        width: 55%;
        height: 270px;
    }
    .wedding_text_box_wrap{
        width: 45%;
    }
    .wedding_text_box{
        width: 90%;
    }
}
@media screen and (max-width: 480px){
    .main_visual{
        height: 375px;
    }
    .gallery{ 
        width: 95%;
    }
    .gallery1_wrap{
        width: 100%;
    }
    .gallery1_wrap div:nth-child(1){
        width: 48%;
        margin-right: 0;
    }
    .gallery1_wrap div:nth-child(2){
        float: right;
        width: 48%;
    }
    .gallery1_wrap div:nth-child(3){
        width: 100%;
        margin-top: 16px;
    }
    .gallery2_wrap{
        width: 100%;
    }
    .gallery2_wrap div:nth-child(1){
        width: 100%;
        margin-bottom: 16px;
    }
    .gallery2_wrap div:nth-child(2){
        width: 48%;
        margin-right: 10px;
    }
    .gallery2_wrap div:nth-child(3){
        float: right;
        width: 48%;
    }
    .group2_text_box{
        flex-direction: column;
    }
    .group2_text_box.show:before, .group2_text_box.show:after{
        display: none;
    }
    .left_wrapper, .right_wrapper{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left_wrapper:before{
        content: '';
        position: absolute;
        width: calc(75%/2);
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        border-bottom: 2px solid white;
        animation: group2_line_480px 1s linear;
    }
    .left_wrapper:after{
        content: '';
        position: absolute;
        width: calc(75%/2);
        top: 50%;
        right: 50%;
        transform: translateY(-50%);
        border-bottom: 2px solid white;
        animation: group2_line_480px 1s linear;
    }
    .left, .right{
        width: 100%;
    }
    .wedding{
        width: 95%;
    }
    .wedding_img{
        position: relative;
        float: left;
        width: 100%;
    }
    .wedding_text_box_wrap{
        position: relative;
        float: left;
        width: 100%;
        margin-top: 15px;
        transform: translate(0, -100px);
    }
    .wedding_text_box{
        width: 90%;
    }
    .wedding_text_box_wrap.show{
        transform: translate(0, 0);
    }
    .group5_logo{
        width: 300px;
        height: 300px;
    }
    .group5_img_wrapper{
        height: 300px;
    }
    .footer_wrap{
        width: 100%;
    }
    .sign_up_box{
        position: relative;
        float: left;
        clear: both;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sign_up_box input{
        position: relative;
        float: left;
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    .sign_up_box button{
        position: relative;
        float: left;
    }
}